/* button */
#btn-box {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

#btn-box .btn {
	margin-right: 8px;
}

#btn-box .btn:last-child {
	margin-right: 0;
}

#btn-box.center {
	justify-content: center;
}

#btn-box.right {
	justify-content: flex-end;
}

#btn-box.file .btn {
	width: 260px;
}

.btn {
	display: inline-block;
	height: 50px;
	padding: 0 30px;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	border: 1px solid #ddd;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 48px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #fff;
	transition: all 0.2s;
}

.btn:hover {
	opacity: 0.85;
}

.btn.block {
	width: 100%;
}

.btn.bg-blue {
	color: #fff;
	border-color: #0ea0b1;
	background-color: #0ea0b1;
}

.btn.bg-green {
	color: #fff;
	border-color: #28b28d;
	background-color: #28b28d;
}

.btn.bg-puple {
	color: #fff;
	border-color: #bfb6d3;
	background-color: #bfb6d3;
}

.btn.bg-orange {
	color: #fff;
	border-color: #d99053;
	background-color: #d99053;
}

.btn.bg-pink {
	color: #fff;
	border-color: #f19d9d;
	background-color: #f19d9d;
}

.btn.bg-gray {
	color: #fff;
	border-color: #ccc;
	background-color: #ccc;
}

.btn.bg-brown {
	color: #fff;
	border-color: #a49488;
	background-color: #a49488;
}

.btn.border-green {
	border-color: #26b27c;
}

.btn img {
	margin-top: -2px;
}

.btn img.left {
	margin-right: 10px;
}

.btn img.right {
	margin-left: 10px;
}

.btn-xs {
	display: inline-block;
	height: 35px;
	padding: 0 15px;
	color: #333 !important;
	font-size: 1.7rem;
	font-weight: 400;
	border: 1px solid #ddd;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 33px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #fff;
	transition: all 0.2s;
}

.btn-xs:hover {
	opacity: 0.85;
}

.btn-xs.block {
	width: 100%;
}

.btn-xs.bg-deepblue {
	color: #fff !important;
	border-color: #344aa0;
	background-color: #344aa0;
}

.btn-xs.bg-green {
	color: #fff !important;
	border-color: #e8d898;
	background-color: #e8d898;
}

.btn-xs.bg-red {
	color: #fff !important;
	border-color: #eb3447;
	background-color: #eb3447;
}

.btn-xs.bg-orange {
	color: #fff !important;
	border-color: #d99053;
	background-color: #d99053;
}

.btn-xs.bg-brown {
	color: #ffe400;
	border-color: #3c1e1e;
	background-color: #3c1e1e;
}

.btn-xs.bg-yellow {
	color: #fff;
	border-color: #f3d92d;
	background-color: #f3d92d;
}

.btn-xs.border-green {
	border-color: #26b27c;
}

.btn-xs img {
	margin-top: -2px;
}

.btn-xs img.left {
	margin-right: 10px;
}

.btn-xs img.right {
	margin-left: 10px;
}

.btn-xxs {
	display: inline-block;
	height: 28px;
	padding: 0 15px;
	color: #333 !important;
	font-size: 1.4rem;
	font-weight: 400;
	border: 1px solid #ddd;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 26px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #fff;
	transition: all 0.2s;
}

.btn-xxs:hover {
	opacity: 0.85;
}

.btn-xxs.block {
	width: 100%;
}

.btn-xxs.bg-deepblue {
	color: #fff !important;
	border-color: #344aa0;
	background-color: #344aa0;
}

.btn-xxs.bg-green {
	color: #fff !important;
	border-color: #e8d898;
	background-color: #e8d898;
}

.btn-xxs.bg-red {
	color: #fff !important;
	border-color: #eb3447;
	background-color: #eb3447;
}

.btn-xxs.bg-orange {
	color: #fff !important;
	border-color: #d99053;
	background-color: #d99053;
}

.btn-xxs.bg-brown {
	color: #ffe400;
	border-color: #3c1e1e;
	background-color: #3c1e1e;
}

.btn-xxs.bg-yellow {
	color: #fff;
	border-color: #f3d92d;
	background-color: #f3d92d;
}

.btn-xxs.border-green {
	border-color: #26b27c;
}

.btn-xxs img {
	margin-top: -2px;
}

.btn-xxs img.left {
	margin-right: 10px;
}

.btn-xxs img.right {
	margin-left: 10px;
}


/* table */
.tableType-01 {
	margin-bottom: 30px;
	border-top: 2px solid #0ea0b1;
}
.tableType-01.pink {
	border-top: 2px solid #f19d9d;
}

.tableType-01.pink th {
	background-color: #f7f7f7;
}

.tableType-01.pink td {
	padding: 25px 15px;
}

.tableType-01.text-center * {
	text-align: center !important;
}
.tableType-01 .text-center {
	text-align: center !important;
}

.tableType-01.no-border th {
	font-size: 20px;
	border: none !important;
	background-color: #f7f7f7;
}

.tableType-01.no-border th:first-of-type {
	border: none !important;
}

.tableType-01.no-border td {
	font-size: 18px;
	border: none;
	text-align: center;
}

.tableType-01.no-border td>a {
	color: #333;
}

.tableType-01.no-border td .state {
	padding: 0 1.5rem;
}

.tableType-01.no-border td .state.on {
	background: url(https://nkhospital.net/resource/images/icon_chk2.png) no-repeat 0 50%;
	background-size: 1.2rem;
	color: #f0141e;
}

.tableType-01.no-border td .viewLink a {
	color: #666;
}

.tableType-01.no-border td .viewLink a:hover {
	opacity: 0.5;
}

.tableType-01.no-border td .viewFile img {
	opacity: 0.6;
}

.tableType-01.no-border td .viewFile a {
	color: #666;
}

.tableType-01.no-border td .viewFile a:hover {
	opacity: 0.5;
}

.tableType-01.no-border td .tit:after {
	content: ' :';
}
.tableType-01.consended th,
.tableType-01.consended td {
	font-size: 1.8rem !important;
	padding:10px 15px !important;
}

.tableType-01 table {
	width: 100%;
	table-layout: fixed;
}

.tableType-01 tr {
	border-bottom: 1px solid #ddd;
}
.tableType-01 tr.small-padding td {
	padding:5px 15px !important;
}
.tableType-01 th {
	padding: 15px;
	font-size: 20px;
	font-weight: 500;
	border-right: 1px solid #ddd;
	vertical-align: middle;
	background-color: #f7f7f7;
}

.tableType-01 th:first-of-type {
	border-right: 1px solid #ddd !important;
}

.tableType-01 th:last-of-type {
	border: none;
}
.tableType-01 th.fw-normal {
	font-weight: 400;
}
.tableType-01 th.lightGreen {
	background-color: #e9f9f7;
}

.tableType-01 td {
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 300;
	word-break: keep-all;
	border-right: 1px solid #ddd;
	vertical-align: middle;
}

.tableType-01 td:last-of-type {
	border: none;
}
.tableType-01 td.title {
	text-align: left !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tableType-01 td strong {
	font-weight: 500;
}

.tableType-01 iframe,
.tableType-01 video {
	width: 100%;
}

/* 게시판 검색 */
.search {
	position: relative;
	width: 400px;
	margin: 40px auto;
}

.search input {
	width: 100%;
	height: 50px;
	padding: 0 30px;
	font-family: 'Noto Sans KR';
	font-size: 1.8rem;
	border: none;
	border-radius: 30px;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	border: 1px solid #ddd;
	background-color: #fff;
	vertical-align: bottom;
}

.search input::placeholder {
	color: #aaa;
	font-weight: 400;
}

.search button,
.search a {
	position: absolute;
	top: 50%;
	right: 20px;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	transform: translateY(-50%);
	cursor: pointer;
}

.search button:active,
.search a:active {
	right: 19px;
	transform: translateY(-48%);
}

/** 게시판 상세 댓글 영역 **/
.viewComment {
	margin-top: 40px;
}

.viewComment p {
	margin: 0;
}

.viewComment>ul li {
	padding: 15px 0;
	border-top: 1px solid #e5e5e5;
}

.viewComment>ul>li>ul {
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
}

.viewComment>ul>li>ul>li {
	min-height: 85px;
	padding-bottom: 0;
}

.viewComment>ul>li:first-child {
	padding-top: 0;
}

.viewComment>ul li:first-child {
	border-top: none;
}

.viewComment li .name,
.viewComment li .replyinput,
.viewComment li .replyTxt,
.viewComment li .btnReply,
.viewComment li .btns {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-right: -5px;
}

.viewComment li .name {
	width: 16%;
	margin-top: 5px;
}

.viewComment li .name span {
	font-size: 0.857em;
	display: block;
	margin-top: 7px;
}

.viewComment li ul li .name {
	width: 15.5%;
	padding-left: 2.5%;
	background: url("/images/common/icon-reply.gif") left top no-repeat;
}

.viewComment li .replyinput,
.viewComment li .replyTxt {
	width: 68%;
}

.viewComment li ul li .replyinput,
.viewComment li ul li .replyTxt {
	width: 66%;
}

.viewComment li .replyinput textarea {
	width: 97.73584905660377%;
	height: 98px;
	padding: 0;
	border: 1px solid #e1e1e1;
	background: #fff;
}

.viewComment li .replyTxt {
	min-height: 85px;
	line-height: 24px;
}

.viewComment li .replyTxt span {
	font-size: 0.857em;
}

.viewComment li .btnReply button {
	width: 96.875%;
	height: 100px;
	color: #333;
	font-size: 1.286em;
	padding: 0;
	margin: 0;
	border: 2px solid #e1e1e1;
	background: #e4e4e4;
}

.viewComment li .btnReply,
.viewComment li .btns {
	width: 16%;
	text-align: right;
}

.viewComment li .btnReply a,
.viewComment li .btns a {
	font-size: 0.857em;
	color: #262626;
	display: inline-block;
	padding: 0 7px;
	line-height: 14px;
	border-left: 1px solid #262626;
}

.viewComment li .btnReply a:first-child,
.viewComment li .btns a:first-child {
	border-left: 0;
	padding-left: 0;
}

.viewComment li ul.replyBox {
	padding-left: 20px;
}

.viewCont {
	max-width: 800px;
	width: 100%;
	min-height: 400px;
	margin: 0 auto;
	word-break: normal !important;
}

.viewCont img {
	max-width: 800px !important;
}

/** 게시판 글쓰기 영역 **/
.writeType {
	border-top: 1px solid #e5e5e5;
}

.writeType a {
	color: #545454;
	text-decoration: none;
}

.writeType tbody th,
.writeType tbody td {
	padding: 12px 0;
	color: #545454;
	border-bottom: 1px solid #e5e5e5;
}

.writeType tbody th:first-child {
	text-align: center;
}

.writeType tbody td {
	padding: 30px !important;
	text-align: left !important;
}

.writeType>tbody th {
	font-size: 2.6rem;
	text-align: left;
}

.writeType>tbody th.alignTop {
	vertical-align: top;
	padding-top: 20px;
}

.writeType>tbody .txtInput,
.writeType>tbody textarea {
	border: 1px solid #e1e1e1;
}

.writeType>tbody .txtInput {
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	box-sizing: border-box;
}

.writeType>tbody .fileInput {
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	box-sizing: border-box;
}

.writeType>tbody textarea {
	width: 100%;
	padding: 15px;
	font-size: 2rem;
	box-sizing: border-box;
}

.board-write {border-top:2px solid #19b1c3;}
.board-write th,
.board-write td {border-bottom:1px solid #ddd;line-height:1.5em;vertical-align: middle;}
.board-write th {padding:10px 10px 10px 20px;width:140px;font-weight:700;line-height:22px;text-align:left;background-color: #f8f8f8;}
.board-write th.required:before {content:'*';position:absolute;margin-left:-14px;color:#83af00;}
.board-write td {padding:10px;}
.board-write td:after {content:'';display:block;clear:both;}
.board-write .rowspan {padding-bottom:0;border-bottom:0;}
.board-write .i_text,
.board-write select {height:50px;text-indent:10px;border:1px solid #ddd;box-sizing: border-box;}
.board-write .i_text {float:left;width:140px;}
.board-write .i_text:focus {outline:0;border-color:#333;}
.board-write select {float:left;width:140px;}
.board-write select:focus {outline:0;border-color:#333;}
.board-write .field select {width:100%;}
.board-write .full {width:100%;}
.board-write .i_text.middle {width:180px;}
.board-write textarea {padding:10px;width:100%;height:7.5em;font-size:1em;line-height:1.5em;border:1px solid #ddd;box-sizing: border-box;}
.board-write textarea:focus {outline:0;border-color:#333;}
.board-write .explain {display:inline;margin-bottom:0;margin-left:10px;line-height:16px;color:#1191d0;}
.board-write .explain:before {content:'※ ';}
.board-write .empty {display:inline-block;padding:5px 0;width:16px;line-height:1.5em;text-align:center;}
.board-write .btn-small {display:inline-block;padding:2px 0;width:80px;height:50px;font-weight:700;line-height:45px;color:#333;text-align:center;border:1px solid #d5d5d5;background-color:#f1f3f5;vertical-align:middle;}
.board-write .method-radio {display:block;float:left;padding:5px 0;width:100px;line-height:1.5em;}
.board-write .method-radio input {margin-right:5px;}
.board-write .method-entry {float:left;}
.board-write .required {color:#1191d0;}
.board-write .inputFile {margin-top:5px;}
.board-write .inputFile:after {content:'';display:block;clear:both;}
.board-write .inputFile:first-child {margin-top:0;}
.board-write .inputFile .i_text {margin-right:5px;width:calc(100% - 90px);}
.board-write .inputFile .fileBtn {float:right;overflow:hidden;}
.board-write .inputFile .fileBtn input[type="file"] {position:absolute;width:100%;height:100%;z-index:-1;}
.board-write .inputFile .fileBtn .btn {display:block;padding:2px;width:80px;height:30px;font-size:1em;text-align:center;border:1px solid #ddd;background-color:#fff;}
.board-write .empty {float:left;display:block;padding:3px 0;width:25px;text-align:center;line-height: 50px;}
.board-write #jb_email1 {width:calc((100% - 35px) / 3);}
.board-write #jb_email2 {width:calc((100% - 35px) / 3);}
.board-write #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:30px;border-color:#ddd;}
.board-write #jb_mobile1 {display:block;float:left;width:calc((100% - 50px) / 3);height:30px;border-color:#ddd;}
.board-write #jb_mobile2 {width:calc((100% - 50px) / 3);}
.board-write #jb_mobile3 {width:calc((100% - 50px) / 3);}
.board-write #jb_email1 {width:calc((100% - 35px) / 3);}
.board-write #jb_email2 {width:calc((100% - 35px) / 3);}
.board-write #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:30px;border-color:#ddd;}
.board-write #tor_rs_phone1 {display:block;float:left;width:calc((100% - 57px) / 3);height:50px;border-color:#ddd;}
.board-write #tor_rs_phone2 {width:calc((100% - 57px) / 3);}
.board-write #tor_rs_phone3 {width:calc((100% - 57px) / 3);}
.board-write .i-checkbox {float:left;margin-right:20px;}
.board-write .review-file-list {}
.board-write .review-file-list > li {padding:5px 0 15px;border-top:1px solid #ddd;}
.board-write .review-file-list > li:first-child {padding-top:0;border-top:0;}
.board-write .review-file-list dt {margin-top:5px;}
.board-write .review-file-list .inputFile {margin-top:0;}
#jb_content {width:100%;height:350px;}
#zsfImg {float:left;height:30px;vertical-align:middle;}
#zsfCode.txt {width:85px;}

.board-list.online-list td.rs-cancel span {padding:5px;color:#fff;background-color:#9e425f;}


.wrapSubreser {position:relative;padding:20px 75px;background:#707174;}
.wrapSubreser .inner {position:static;font-size:24px;font-weight:700;line-height:30px;color:#fff;text-align:center;}
.wrapSubreser .inner > a {display:block;position:absolute;top:0;width:75px;height:70px;text-indent:100%;overflow:hidden;white-space:nowrap;cursor:pointer;}
.wrapSubreser .inner > a:before {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-18px;margin-left:-18px;width:36px;height:36px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);}
.wrapSubreser .btnCalendar_l {left:0;}
.wrapSubreser .btnCalendar_l:before {background-position:-580px -300px;}
.wrapSubreser .btnCalendar_r {right:0;}
.wrapSubreser .btnCalendar_r:before {background-position:-580px -360px;}
.tbSubReser {width: 100%;border:1px solid #ddd;border-top:0;table-layout:fixed;}
.tbSubReser thead th {height:50px;font-size:16px;font-weight:700;line-height:24px;color:#333;background-color:#eee;vertical-align: middle;}
.tbSubReser tbody td {color:#666;vertical-align:top;border-top:1px solid #ddd;border-right:1px solid #ddd;}
.tbSubReser tbody td:firist-child {border-right:0;}
.tbSubReser .boxSubnon {padding:15px;height:92px;text-decoration:line-through;background-color:#ddd;}
.tbSubReser .boxSubToday {padding:15px;font-size:22px;font-weight:700;color:#f96a0e;}
.tbSubReser tbody td div > a {display:block;padding:15px;height:91px;color:#1191d0;text-decoration:underline;background-color:#f1f9fc;}

.scheduler .util {padding:20px 0 40px;border-bottom:1px solid #ddd;}
.scheduler .util .state {margin-right:15px;font-size:16px;line-height:30px;}
.scheduler .util .state:before {content:'';display:inline-block;margin-right:5px;width:28px;height:28px;font-size:16px;line-height:30px;text-align:center;vertical-align:top;border:1px solid #ddd;}
.scheduler .util .state.today:before {content:'6';font-size:20px;font-weight:700;color:#f96a0e;background-color:transparent;}
.scheduler .util .state.possible:before {content:'12';color:#1191d0;text-decoration:underline;background-color:#f1f9fc;}
.scheduler .util .state.impossible:before {content:'12';color:#333;text-decoration:line-through;background-color:#ddd;}

.schedule-reserved-info .info .date {display:inline-block;font-size:18px;line-height:32px;}
.schedule-reserved-info .info .date {display:block;font-weight:700;color:#333;}
.schedule-reserved-info .info .doctor {display:inline-block;color:#333;}
.schedule-reserved-info .info .doctor:after {content:'/';padding:0 5px;}
.schedule-reserved-info .info .wait {display:inline-block;color:#f96a0e;}
.schedule-reserved-info .info .success {display:inline-block;color:#1191d0;}

.ui-datepicker {display:block;position:absolute;top:-1000%;padding:5px;border:1px solid #ddd;background-color:#eee;z-index:200 !important;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
.ui-datepicker .ui-datepicker-header {display:block;margin-bottom:0.1em;padding:0 3.25em;}
.ui-datepicker .ui-datepicker-header a {position:absolute;top:0;padding:9px 11px;width:3.25em;height:3.125em;cursor:pointer;}
.ui-datepicker .ui-datepicker-header a.ui-state-disabled {cursor:default;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity:.3;}
.ui-datepicker .ui-datepicker-header a:before {font-family:'material-icons';display:block;position:absolute;top:50%;left:50%;margin-top:-18px;margin-left:-18px;width:36px;height:36px;font-size:36px;color:#333;}
.ui-datepicker .ui-datepicker-header a span {display:block;position:absolute;top:0;left:0;width:100%;height:100%;visibility:hidden;z-index:-1;}
.ui-datepicker .ui-datepicker-prev {left:0;}
.ui-datepicker .ui-datepicker-prev:before {content:'\e314';}
.ui-datepicker .ui-datepicker-next {right:0;}
.ui-datepicker .ui-datepicker-next:before {content:'\e315';}
.ui-datepicker .ui-datepicker-title {padding:0.456em 0;height:2.23em;font-size:1.375em;font-weight:800;line-height:1.32em;color:#000;text-align:center;}
.ui-datepicker .ui-datepicker-title select {-webkit-appearance:none;margin-right:4px;padding:0 5px;border:1px solid #ddd;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {height:1.675em;font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year + span {margin-right:10px;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month {height:1.675em;font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-title span {font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-calendar {margin-top:2px;background-color:#fff;}
.ui-datepicker .ui-datepicker-week-end:first-child {border-left:1px solid #ddd;}
.ui-datepicker .ui-datepicker-week-end:last-child {border-right:1px solid #ddd;}
.ui-datepicker thead {background-color:#454547;}
.ui-datepicker thead th {height:4em;font-size:0.6875em;line-height:1.45em;color:#fff;text-align:center;text-transform:uppercase;background-color:#454547;}
.ui-datepicker tbody td {border-bottom:1px solid #ddd;}
.ui-datepicker .dummy {border:1px solid #ddd;border-top:0;}
.ui-datepicker td > span {display:block;padding:1em;font-size:0.6875em;line-height:1.45em;color:#cbcbcb;}
.ui-datepicker td > a {display:block;padding:1em;font-size:0.6875em;line-height:1.45em;color:#333;}
.ui-datepicker .ui-datepicker-current-day > a {color:#fff;background-color:#1191d0;}

.text-box {
	padding: 40px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background-color: #f5f7f9;
}
.icon-panel {}
.icon-panel.text-box {
	display: table;
	width: 100%;
}

.icon-panel.text-box>* {
	display: table-cell;
	vertical-align: middle;
}

.icon-panel.text-box>li {
	font-size: 14px;
	line-height: 24px;
}

.icon-panel.text-box .info {
	padding: 0;
}

.icon-panel.text-box .info .date {
	display: block;
	font-weight: 700;
	color: #333;
	font-size: 18px;
	line-height: 32px;
}

.icon-panel.text-box .info .doctor {
	display: inline-block;
	color: #333;
}

.icon-panel.text-box .info .doctor:after {
	content: '/';
	padding: 0 5px;
}

.icon-panel.text-box .info .wait {
	display: inline-block;
	color: #f96a0e;
}

.icon-panel.text-box .info .success {
	display: inline-block;
	color: #1191d0;
}



/* 페이지네이션 */
.pagination {
	margin-top: 40px;
	font-size: 0;
	line-height: 0;
	text-align: center;
}

.pagination .btn {
	display: inline-block;
	margin: 0 2px;
	width: 4rem;
	height: 4rem;
	padding: 0 !important;
	border: 1px solid #dfdfdf;
	color: #666 !important;
	font-family: 'area';
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 4rem;
	vertical-align: middle;
}

.pagination .btn img {
	width: 100%;
	margin-top: 0;
	vertical-align: baseline;
}

.pagination .btn.current {
	color: #fff !important;
	border-color: #19b1c3;
	background-color: #19b1c3;
	cursor: default;
}

.pagination .btn.prev {
	border-color: #fff;
	vertical-align: middle !important;
}

.pagination .btn.next {
	border-color: #fff;
	vertical-align: middle !important;
}

@media (max-width:768px){
	.tableType-01 td,
	.tableType-01 th {
		padding:25px 15px;
		font-size: 2rem !important;
	}
	.tableType-01 tr.small-padding td {
		padding:15px 15px !important;
	}
}


